.login{
    padding: 5rem;
    padding-left:4rem !important;
}


.image{
    height:100vh;
    background-image: url("l.avif");
    background-size: cover;
    text-align: center;
}
.img-txt{
    padding-top:60%;
    color: white;
    font-weight: 700;
}
.input{
    background-color: white;
    border-radius: 7px;
    border:1.5px solid grey;
}